In [1]:
import os
os.getcwd()
os.chdir("C:\\Users\\Watson Turbo\Desktop\S&P500")

In [2]:
#Import standard Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
url = 'https://raw.githubusercontent.com/hevangel/stock_scraper/master/data_finviz/finviz_2020-04-02.csv'
sp = pd.read_csv(url)

In [4]:
sp.head()

,Ticker,Date,No.,Company,Sector,Industry,Country,Market Cap,P/E,Price,Change,Volume
0,A,2020-04-02,1,"Agilent Technologies, Inc.",Healthcare,Medical Laboratories & Research,USA,23.27B,29.83,72.29,4.89%,1811028
1,AA,2020-04-02,2,Alcoa Corporation,Basic Materials,Aluminum,USA,1.18B,-,6.08,-2.72%,10251655
2,AAAU,2020-04-02,3,Perth Mint Physical Gold ETF,Financial,Exchange Traded Fund,USA,-,-,16.18,1.95%,99190
3,AACG,2020-04-02,4,ATA Creativity Global,Services,Education & Training Services,China,27.14M,-,0.92,-2.53%,5156
4,AADR,2020-04-02,5,AdvisorShares Dorsey Wright ADR ETF,Financial,Exchange Traded Fund,USA,-,-,39.50,1.21%,9858

In [5]:
sp.shape

(3100, 12)

<b> Shouldn't this be 500 rows instead of 3100?

In [6]:
sp.columns

Index(['Ticker', 'Date', 'No.', 'Company', 'Sector', 'Industry', 'Country',
       'Market Cap', 'P/E', 'Price', 'Change', 'Volume'],
      dtype='object')

In [7]:
#Check for nulls
display(sp.isnull().any())
#List null instances
#copper[copper['Low'].isnull()]

Ticker        False
Date          False
No.           False
Company       False
Sector        False
Industry      False
Country       False
Market Cap    False
P/E           False
Price         False
Change        False
Volume        False
dtype: bool

In [8]:
sp500 = sp.rename(columns = {'Ticker':'Symbol'})

<b>P/E and Market Cap are missing in some instances. This Null display is wrong.

In [10]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

In [11]:
test = pd.read_html(url)

In [15]:
df = test[0]

In [16]:
df.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740.0,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800.0,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152.0,2013 (1888)
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094.0,1981
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373.0,1989

In [20]:
df.sort_values('Symbol')

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
11,A,Agilent Technologies Inc,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872.0,1999
30,AAL,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201.0,1934
8,AAP,Advance Auto Parts,reports,Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",2015-07-09,1158449.0,1932
49,AAPL,Apple Inc.,reports,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1982-11-30,320193.0,1977
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152.0,2013 (1888)
...,...,...,...,...,...,...,...,...,...
503,ZBH,Zimmer Biomet Holdings,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869.0,NaN
502,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212.0,1969
504,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380.0,NaN
505,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280.0,NaN
464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Fortune 500

In [23]:
fortune_url ='https://raw.githubusercontent.com/rsilen18/fortune500-jupyter/master/fortune500.csv'

In [24]:
fortune = pd.read_csv(fortune_url)

In [25]:
fortune.head()

   Year  Rank           Company  Revenue (in millions) Profit (in millions)
0  1955     1    General Motors                 9823.5                  806
1  1955     2       Exxon Mobil                 5661.4                584.8
2  1955     3        U.S. Steel                 3250.4                195.4
3  1955     4  General Electric                 2959.1                212.6
4  1955     5            Esmark                 2510.8                 19.1

In [27]:
fortune.sort_values('Company')

,Year,Rank,Company,Revenue (in millions),Profit (in millions)
22302,1999,303,3Com,5420.4,30.2
21954,1998,455,3Com,3147.1,374
22793,2000,294,3Com,5772.1,403.9
19995,1994,496,3Com,617.2,38.6
23328,2001,329,3Com,5391.5,674.3
...,...,...,...,...,...
1266,1957,267,Zenith Electronics,141.5,6.2
2220,1959,221,Zenith Electronics,180.6,12.1
13276,1981,277,Zenith Electronics,1185.9,26.4
10217,1975,218,Zenith Electronics,910.5,13.2
18463,1991,464,Zurn Industries,610.6,28.3

In [28]:
fidelity = pd.read_csv('fidelity_500.csv')

In [29]:
fidelity

,Symbol,Company Name,Security Type,Security Price,Market Capitalization,Revenue (TTM),Sector,Industry,Sub-Industry,Company Headquarters Location
0,BRK/A,Berkshire Hathaway Inc,Common Stock,267954.00,--,327223.000,Financials,Diversified Financial Services,Multi-Sector Holdings,United States of America
1,BRK/B,Berkshire Hathaway Inc,Common Stock,178.34,$438.08B,327223.000,Financials,Diversified Financial Services,Multi-Sector Holdings,United States of America
2,AMZN,Amazon.com Inc,Common Stock,1906.59,$955.58B,280522.000,Consumer Discretionary,Internet & Direct Marketing Retail,Internet & Direct Marketing Retail,United States of America
3,AAPL,Apple Inc,Common Stock,241.41,$1.07T,267683.000,Information Technology,"Technology Hardware, Storage & Peripherals","Technology Hardware, Storage & Peripherals",United States of America
4,CVS,CVS Health Corp,Common Stock,55.72,$72.14B,256776.000,Health Care,Health Care Providers & Services,Health Care Services,United States of America
...,...,...,...,...,...,...,...,...,...,...
495,WSM,Williams-Sonoma Inc.,Common Stock,38.19,$2.94B,5898.008,Consumer Discretionary,Specialty Retail,Homefurnishing Retail,United States of America
496,CMC,Commercial Metals Co,Common Stock,14.63,$1.87B,5874.548,Materials,Metals & Mining,Steel,United States of America
497,RUSHA,Rush Enterprises Inc,Common Stock,28.93,$1.08B,5809.847,Industrials,Trading Companies & Distributors,Trading Companies & Distributors,United States of America
498,RUSHB,Rush Enterprises Inc,Common Stock,26.50,$1.02B,5809.847,Industrials,Trading Companies & Distributors,Trading Companies & Distributors,United States of America
499,AMTD,TD AMERITRADE Holding Corp,Common Stock,34.81,$19.25B,5791.000,Financials,Capital Markets,Investment Banking & Brokerage,United States of America